<!DOCTYPE html>
<link href="~/Content/Admin/css/animate.min.css" rel="stylesheet" />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Food Express Administrator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- BEGIN PLUGIN CSS -->
    @*<link href="~/Content/Admin/plugins/pace/pace-theme-flash.css" rel="stylesheet" media="screen" />*@
    <!-- END PLUGIN CSS -->
    <link href="~/Content/Admin/plugins/boostrapv3/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/plugins/boostrapv3/css/bootstrap-theme.min.css" rel="stylesheet" />
    <!-- BEGIN CORE CSS FRAMEWORK -->
    <link href="~/Content/Admin/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/Admin/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" />
        <!-- END CORE CSS FRAMEWORK -->
    <!-- BEGIN CSS TEMPLATE -->
    <link href="~/Content/Admin/css/style.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/custom-icon-set.css" rel="stylesheet" />
        <!-- END CSS TEMPLATE -->
    <script src="~/Content/Admin/plugins/jquery-1.8.3.min.js"></script>
</head>
<body>
    
    <div class="page-container row-fluid">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar" id="main-menu">
            <!-- BEGIN MINI-PROFILE -->
            <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
                
                <!-- END MINI-PROFILE -->
                <!-- BEGIN SIDEBAR MENU -->
                <ul id="menu">
                    @{
                        if(Session["user"] != null)
                        {
                            Customer cus = Session["user"] as Customer;
                            if (cus.IDRole == 2 || cus.IDRole == 3)
                            {
                                <li class="" onclick="ChangeClassForLiTag(this)" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Order Management","Index","Order",null,new { @class = "title"})
                                </li>
                                <li class="" onclick="ChangeClassForLiTag(this)" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Restaurant Management", "Index", "Restaurant", null, new { @class = "title" })
                                </li>
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Customer Management", "Index", "User", null, new { @class = "title" })
                                </li>
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Cuisine Management", "Index", "RestaurantCuisine", null, new { @class = "title" })
                                </li>
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Category Management", "Index", "RestaurantCategory", null, new { @class = "title" })
                                </li>
                               
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("User Role Management", "Index", "CustomerRole", null, new { @class = "title" })
                                </li>
                                <li class="">
                                    @Html.ActionLink("City Management", "Index", "City", null, new { @class = "title" })
                                </li>
                            }
                            if (cus.IDRole == 4 || cus.IDRole == 5)
                            {
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Order Management", "Index", "Order", null, new { @class = "title" })
                                </li>
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Restaurant Management", "Index", "Restaurant", new { ownerid = cus.IDCustomer}, new { @class = "title" })
                                </li>
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Employer Management", "Index", "User", new { ownerid = cus.IDCustomer }, new { @class = "title" })
                                </li>
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Ingredient Management", "Index", "Ingredient", null, new { @class = "title" })
                                </li>

                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Import Management", "Index", "Import", null, new { @class = "title" })
                                </li>
                                <li class="">
                                    @Html.ActionLink("Export Management", "Index", "Export", null, new { @class = "title" })
                                </li>
                            }
                            if (cus.IDRole == 6)
                            {
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Order Management", "Index", "Order", null, new { @class = "title" })
                                </li>
                                <li class="" style="border-bottom:solid 1px gray">
                                    @Html.ActionLink("Restaurant Management", "Index", "Restaurant", new { ownerid = cus.IDCustomer }, new { @class = "title" })
                                </li>
                                <li class="">
                                    @Html.ActionLink("Dish Category Management", "Index", "DishCategory", null, new { @class = "title" })
                                </li>
                            }
                        }
                       
                    }
                </ul>
                
                <div class="clearfix"></div>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <a href="#" class="scrollup">Scroll</a>
        
        <!-- END SIDEBAR -->
        <!-- BEGIN PAGE CONTAINER-->
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="content">
                <div class="page-title">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
 
    
    <script src="~/Content/Admin/plugins/boostrapv3/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/plugins/breakpoints.js"></script>
    <script src="~/Content/Admin/plugins/jquery-unveil/jquery.unveil.min.js"></script>
    <script src="~/Content/Admin/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
       <!-- END CORE JS FRAMEWORK -->
    <!-- BEGIN PAGE LEVEL JS -->
    @*<script src="~/Content/Admin/plugins/pace/pace.min.js"></script>*@
    <script src="~/Content/Admin/plugins/jquery-numberAnimate/jquery.animateNumbers.js"></script>
        <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="~/Content/Admin/js/core.js"></script>
    <script>
      function ChangeClassForLiTag(item) {
          var ul = $("#menu");
          var lsli = $(ul).find("li");
          for (var i = 0; i < lsli.length; i++) {
              $(lsli[i]).removeClass("active");
          }
          $(item).addClass("active");
      }
    </script>
  </body>
  
</html>
