@using PagedList.Mvc
@model PagedList.IPagedList<FoodExpress.Res_Category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Res_Category cate = new Res_Category();
    cate.Active = false;
    if (Session["cate"] != null)
    {
        cate = Session["cate"] as Res_Category;
    }

}

<h2>Restaurant Category Management</h2>


<form action="@Url.Action("CreateCategory" )" method="post">
   <p style="color:red">@ViewBag.Notice</p>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">

            <div class="control-label col-md-2">
                <label>Name</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="catename" id="catename" value="@cate.NameCate" />
            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Active</label>
            </div>
            <div class="col-md-10">
                <input type="checkbox" name="active" id="active" value="true" checked="@cate.Active.Value"/>
            </div>
           
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
                <input type="button" value="Cancel" onclick="location.href='@Url.Action("Cancel","RestaurantCategory")'" class="btn btn-default" />
            </div>
        </div>
    </div>
    
</form>
<form action="@Url.Action("Index" )" method="get">
    <div class="m-r-10 input-prepend inside search-form no-boarder">
        <input name="keyword" type="text" id="keyword" class="no-boarder " value="@ViewBag.CurrentFilter" placeholder="Search Category" style="width:500px;">
        <input name="btnSearch" type="submit" id="btnSearch" class="btn btn-default" style="margin-left:10px; width: 100px;" value="Search">
    </div>
</form>


<table class="table">
    <tr>
        <th>

            Name
        </th>
        <th>

            Active
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameCate)
            </td>
            <td>

                @Html.CheckBoxFor(modelItem => item.Active.Value)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCate }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCate })
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))