@model PagedList.IPagedList<FoodExpress.Models.DishCategory>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    Dish_Category dc = new Dish_Category { Active = false };
    if (Session["dishcate"] != null)
    {
        dc = Session["dishcate"] as Dish_Category;
    }
}

<h2>Dish Category Management</h2>

<form action="@Url.Action("CreateDishCategory" )" method="post">
    <p style="color:red">@ViewBag.Notice</p>
    <div class="form-horizontal">
        <hr />
        <div class="form-group">

            <div class="control-label col-md-2">
                <label>Name</label>
            </div>
            <div class="col-md-10">
                <input type="text" name="dishcatename" id="dishcatename" value="@dc.NameDishCate" />

            </div>
        </div>

        <div class="form-group">
            <div class="control-label col-md-2">
                <label>Active</label>
            </div>
            <div class="col-md-10">
                <input type="checkbox" name="active" id="active" value="true" checked="@dc.Active" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Cancel" onclick="location.href='@Url.Action("Cancel","DishCategory")'" class="btn btn-default" />
            </div>
        </div>
    </div>

</form>
<form action="@Url.Action("Index" )" method="get">
    <div class="m-r-10 input-prepend inside search-form no-boarder">
        <input name="keyword" type="text" id="keyword" class="no-boarder " value="@ViewBag.CurrentFilter" placeholder="Search Dish Category" style="width:500px;">
        <input name="btnSearch" type="submit" id="btnSearch" class="btn btn-default" style="margin-left:10px; width: 100px;" value="Search">
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NameCate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameCate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDDishCate  }) |
           
            @Html.ActionLink("Delete", "Delete", new { id=item.IDDishCate })
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
